/* ALL */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

/* HEADER */

header {
    background-color: rgb(21, 28, 122);
    color: white;
    padding: 50px;
}

h1 {
    text-align: center;
}

/* MAIN */

main {
    background-image: url("/assets/img/background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.formuContainer {
    border-style: solid 3px black;
    background-color: rgba(255, 255, 255, 0.787);
    width: 500px;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    
}

/* FOOTER */

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 50px;
    text-align: center;
}
